
:root {
    --bg-color: hsl(0, 0%, 98%);
    --input-color: hsl(0, 0%, 52%);
    --text-color: hsl(200, 15%, 8%);
    --elem-color: hsl(0, 0%, 100%);
    --shadow: 0 2px 9px rgba(0, 0, 0, 0.05);
}

body.dark-theme {
    --bg-color: hsl(207, 26%, 17%);
    /* --input-color: hsl(0, 0%, 52%); */
    --text-color: hsl(0, 0%, 100%);
    --elem-color: hsl(209, 23%, 22%);
    --shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.main-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4em;
    margin-bottom: 4em;
}

/* NAVBAR */

.navbar {
    background-color: var(--elem-color);
    box-shadow: var(--shadow);
    padding: 1.5em 4em;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2em;
    font-weight: 800;
}

.theme-btn {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

/* SEARCH AND FILTER */

.controls-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0;
    flex-wrap: wrap;
    gap: 1.2em;
}

.search-box {
    background-color: var(--elem-color);
    box-shadow: var(--shadow);
    border-radius: 0.5em;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    gap: 1.5em;
    width: 50%;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    color: var(--text-color);
    font-size: 0.9em;
}

.search-box input::placeholder {
    color: var(--input-color);
}

.filter-box {
    max-width: 40%;
}

.filter-box select {
    background-color: var(--elem-color);
    color: var(--text-color);
    box-shadow: var(--shadow);
    border: none;
    border-radius: 0.5em;
    padding: 1.1em 1.5em;
    font-size: 0.9em;
    outline: none;
    cursor: pointer;
    width: 100%;
}

/* Grid for countries' cards */

#countries-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
    padding-bottom: 2.5em;
}

.country-card {
    background-color: var(--elem-color);
    border-radius: 0.5em;
    box-shadow: var(--shadow);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.country-card:hover {
    transform: translateY(-0.5em);
}

.card-flag {
    height: 50%;
}

.card-flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 1.5em 1.5em 2.5em 1.5em;
    height: 50%;
} 

.country-title {
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: 1em;
}

.card-body p {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    line-height: 1.4;
} 

/* ==========================================
    DETAIL PAGE STYLES
   ========================================== */

/* Button «Back» */
#back-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.6em;
    padding: 0.5em 1.5em;
    background-color: var(--elem-color, #ffffff);
    color: var(--text-color, #111517);
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.29);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    margin: 4em 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#back-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.15);
}

/* Detail info container */
#country-detail {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    width: 100%;
}

/* Country flag */
.detail-flag {
    width: 50%;
    height: auto;
}

.detail-flag img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
}

/* Detail text info container */
.detail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detail-info h2 {
    font-size: 2em;
    font-weight: 800;
}

/* Parameters grid (Population, Region, etc.) */
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

.info-grid p {
    font-size: 0.9em;
}

.info-grid strong {
    font-weight: 600;
}


/* Container for Border countries */

.border-countries {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

.border-countries strong {
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
}

.borders-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
}

.border-btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: var(--elem-color);
    color: var(--text-color);
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em var(--shadow);
    text-decoration: none;
    font-size: 0.9em;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}

.border-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.25em 0.6em var(--shadow);

}

/* Map style */ 

.map-section {
    width: 100%;
}

#map {
    height: 20em;
    width: 100%;
    border-radius: 8px; 
    margin-top: 10px; 
    z-index: 1;
}


/* ==========================================
    MEDIA QUERIES 
   ========================================== */


@media (max-width: 768px) {
    
    .main-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 2em;
    }




    /* NAVBAR */

    .navbar {
        background-color: var(--elem-color);
        box-shadow: var(--shadow);
        padding: 3em 2em;
    }


    /* SEARCH AND FILTER */

    .controls-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 2em;
        width: 100%;
    }

    .search-box {
        padding: 1em 2em;
        width: 100%;
    }

    .filter-box {
        width: 40%;
    }

    /* Grid for countries' cards */

    #countries-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3em;
        padding: 2em 4em;
    }

    .country-card {
        height: 450px;
    }

    .card-flag {
        height: 50%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5em;
        height: 50%;
    } 


    /* ==========================================
        DETAIL PAGE STYLES
    ========================================== */


    /* Detail info container */
    #country-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 3em;
        width: 100%;
    }

    /* Country flag */
    .detail-flag {
        width: 100%;
        height: auto;
    }

    /* Detail text info container */
    .detail-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2em;
    }

    .detail-info h2 {
        font-size: 2em;
        font-weight: 800;
    }

    /* Parameters grid (Population, Region, etc.) */
    .info-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8em;
    }

    .info-grid p {
        font-size: 0.9em;
    }

    .info-grid strong {
        font-weight: 600;
    }


    /* Container for Border countries */

    .border-countries {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2em;
    }

}


